
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #010165;
  text-align: center;
  font-family: 'Lora', serif;
}

.item-description {
  color: #fff;
  margin-top: 45px;
  font-size: 1.5em
}

h1 {
  margin-bottom: 15px;
}

input{
  padding: 10px;
  margin: 15px;
  border-radius: 6px;
  width: 20%;
  font-size: 0.80em;
}

button {
  padding: 10px;
  border-radius: 6px;
  margin: 15px;
  font-size: 1em;
  color: #fff
}

button#enter:hover {
  color: lawngreen;
}

button#clear:hover {
  color: firebrick;
}

button#enter {
  background-color: darkgreen
}

button#clear {
  background-color: #fd4d3f;
}

.done {
  text-decoration: line-through;
}

.delete {
  display: none;
}

ul {
  list-style-type: none;
}